- is_dismissable = local_assigns.fetch(:is_dismissable, true)
- callout = local_assigns.fetch(:callout, UserCalloutsHelper::GOLD_TRIAL)
- button_css_class = is_dismissable ? 'mr-3' : ''

.pt-1.d-none.d-md-block{ class: container_class }
  .user-callout.promotion-callout.thin-callout.js-gold-trial-callout{ data: { uid: 'trial_callout_dismissed', feature_id: callout, dismiss_endpoint: user_callouts_path } }
    .bordered-box.justify-content-left.align-items-center
      .svg-container
        = image_tag 'illustrations/golden_tanuki.svg', class: 'svg'
      .d-flex.flex-grow.align-items-center
        .user-callout-copy.ml-0
          %h5.mb-0.mt-0= _('Free Trial of GitLab.com Ultimate')
          %p.mb-0
            %span= _('Try all GitLab has to offer for 30 days.')
            %span.d-none.d-sm-inline= _('No credit card required.')
        = link_to _('Start your trial'), new_trial_registration_path(glm_source: 'gitlab.com', glm_content: 'gold-callout'), class: "btn btn-primary mt-2 mt-sm-0 #{button_css_class}", target: '_blank'

      - if is_dismissable
        %button.btn.btn-default.close.js-close{ type: 'button',
          'aria-label' => _('Dismiss trial promotion') }
          = sprite_icon('close', css_class: 'dismiss-icon')
